@media (max-width: 600px) {
    h1 {
        font-size: 30px;
        margin: 12%;
        align-content: center;
    }

    #para {
        text-align: left;
        font-size: 40px;
        margin: 20px auto;
    }

    .para {
        margin: 50px auto;
    }

    .para a {
        text-decoration: none;
        font-size: 18px;
        margin-right: 30px;
    }

    nav ul li {
        display: inline;
        margin: 10px 0px;
    }

    nav ul li a {
        color: #fff;
        font-weight: 700;
        text-decoration: none;
        font-size: 16px;
    }

    nav .fa {
        display: block;
        font-size: 20px;
        padding: 1px;
        color: #080808;
        margin: auto 20px;
    }

    nav ul {
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -180px;
        width: 180px;
        height: 48vh;
        padding-top: 80px;
        z-index: 2;
        transition: right 0.8s;
        border-radius: 8px;
    }

    nav ul li {
        display: block;
        margin: auto 30px;
    }

    nav ul .fa {
        position: absolute;
        top: 25px;
        left: 20px;
    }

    .logo {
        margin: auto -60px;
    }

    .about-col {
        flex-direction: column;
        margin: auto 50px;
    }

    .col-1 {
        width: 110%;
        text-align: justify;
        margin: 20px auto;
    }

    .col-2 {
        margin: auto 0px;
    }

    #capabilities {
        margin: 20px auto;
    }


    #projects {
        margin: 20px auto;
    }

    .contact-container {
        max-width: 90%;
        flex-direction: column;
        padding: 15px;
        gap: 8%;
    }

    .contact-info {
        margin: 0px 0;
        line-height: 2px;
    }

    .contact-info p {
        justify-content: center;
        padding: 20px 10px;
    }

    .contact-info a {
        color: blue;
        text-decoration: none;
    }

    .contact-info a.download-link {
        padding: 20px 20px;
        margin-top: 30px;
    }

    .contact-info .fa {
        font-size: 28px;
        background-color: #fff;
        color: black;
        border-radius: 80%;
        padding: 20px;
        margin: 28px 10px;
    }
}


/* Responsive design for tablets and smaller screens */
@media (max-width: 911px) {
    .contact-container {
        max-width: 90%;
        flex-direction: column;
        padding: 15px;
        gap: 8%;
    }

    .contact-item {
        margin: 0px 0;
        line-height: 2px;
    }

    .contact-info a {
        color: blue;
        text-decoration: none;
        margin: 0 auto;
    }

    .contact-info p {
        justify-content: center;
        padding: 20px 10px;
        margin: 0 auto;
    }

    .contact-info a.download-link {
        padding: 10px 20px;
        margin-top: 20px;
    }

    .contact-info .fa {
        font-size: 28px;
        background-color: #fff;
        color: black;
        border-radius: 80%;
        padding: 20px;
        margin: 28px 10px;
    }

    .contact-icon {
        width: auto;
        height: 44px;
        margin: 30px;
    }

    .contact-info a.download-link {
        display: inline-block;
        padding: 20px 50px;
        background-color: #007BFF;
        color: #fff;
        border-radius: 5px;
        text-decoration: none;
        border: 3px solid #fff;
        margin-top: 10%;
    }
}

@media (max-width: 420px) {
    nav ul {
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -160px;
        width: 160px;
        height: 46vh;
        padding-top: 68px;
        z-index: 2;
        transition: right 0.8s;
        border-radius: 10px;
    }

    #para {
        text-align: left;
        font-size: 40px;
        color: #fff;
    }

    .para {
        margin: 40px auto;
    }

    .para a {
        text-decoration: none;
        font-size: 16px;
        margin-right: 20px;
        color: #fff;
    }


    .info h1 {
        color: #00bcd4;
        margin-top: 90px;
        font-size: 30px;
    }

    .col-1 .col {
        text-align: justify;
        hyphens: none;
        word-spacing: 0px;
        font-weight: 500;
    }

    #capabilities {
        margin: 20px auto;
    }

    .cap-list div {
        display: grid;
        grid-template-columns: auto;
    }

    .cap-list p,
    ul {
        text-align: justify;
        font-size: 15px;
        font-weight: 600;
        hyphens: none;
    }

    .cap-list .fa {
        font-weight: 900;
        font-size: 50px;
        padding-bottom: 20px;
    }

    #projects {
        margin: 20px auto;
    }

    .project-list {
        margin: 40px;
        display: grid;
        grid-template-columns: auto;
    }

    .project-list p {
        text-align: justify;
        font-size: 14px;
        font-weight: 600;
        word-spacing: 1px;
        hyphens: none;
    }

    .contact-container {
        background: lightblue;
        display: flex;
        padding: 80px;
    }

    .contact-icon {
        width: auto;
        height: 44px;
        margin: 40px;
    }

    .contact-info a.download-link {
        padding: 20px 20px;
        margin-top: 40px;
    }
}


@media (max-width: 368px) {
    nav ul {
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -160px;
        width: 160px;
        height: 44vh;
        padding-top: 60px;
        z-index: 2;
        transition: right 0.8s;
        border-radius: 10px;
    }

    nav ul li a {
        text-decoration: none;
        font-family: sans-serif;
        color: black;
        font-size: 14px;
        color: #fff;
    }

    .info h1 {
        color: #00bcd4;
        font-size: 26px;
    }

    #para {
        text-align: left;
        font-size: 36px;
        color: #fff;
    }

    .para {
        margin: 50px auto;
    }

    .para a {
        text-decoration: none;
        font-size: 14px;
        margin-right: 15px;
        color: #fff;
    }

    .col-1 .col {
        text-align: justify;
        hyphens: none;
        text-justify: inter-word;
        word-spacing: -2.2px;
        font-size: 14px;
        font-weight: 500;
    }

    #capabilities {
        margin: 20px auto;
    }

    .cap-list div {
        display: grid;
        grid-template-columns: auto;
    }

    .cap-list p,
    ul {
        text-align: justify;
        font-size: 14px;
        font-weight: 500;
    }


    .cap-list h2 {
        font-size: 10px;
    }

    .cap-list .fa {
        font-weight: 900;
        font-size: 40px;
        padding-bottom: 20px;
    }

    #projects {
        margin: 20px auto;
    }

    .project-list {
        margin: 40px;
        display: grid;
        grid-template-columns: auto;
    }

    .project-list p {
        /* text-align: justify; */
        font-weight: 500;
        word-spacing: -1.9px;
        hyphens: none;
        text-justify: inter-word;
    }

    .contact-icon {
        width: auto;
        height: 44px;
        margin: 30px;
    }

    #scrollToTopBtn {
        display: none;
        position: fixed;
        bottom: 40px;
        right: 20px;
        z-index: 99;
        border: none;
        outline: none;
        background-color: #00bcd4;
        color: white;
        cursor: pointer;
        padding: 0;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        font-size: 24px;
        text-align: center;
        line-height: 10px;
    }
}

@media (max-width: 374px) {
    .contact-info a.download-link {
        padding: 15px 10px;
        font-size: 14px;
    }
}


@media (max-width: 333px) {
    .contact-info a.download-link {
        padding: 20px 8px;
        font-size: 14px;
        line-height: 18px;
    }

    h1 {
        font-size: 25px;
        margin: 6%;
    }

    #para {
        text-align: left;
        font-size: 44px;
        color: #fff;
    }

    .para {
        margin: 60px auto;
    }

    .para a {
        text-decoration: none;
        font-size: 14px;
        margin-right: 20px;
        color: #fff;
    }

    .res {
        background-color: rgb(27, 27, 194);
        padding: 18px 50px;
        border-radius: 4px;
        color: #fff;
    }
}